ProjetoTesteDDD.MVC/Connected Services/WCFService/ProjetoTesteDDD.Domain.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfTipoMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoMaterial" nillable="true" type="tns:TipoMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoMaterial" nillable="true" type="tns:ArrayOfTipoMaterial" />
  <xs:complexType name="TipoMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevolucaoEmDias" type="xs:int" />
      <xs:element minOccurs="0" name="TipoMaterialId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoMaterial" nillable="true" type="tns:TipoMaterial" />
  <xs:complexType name="ArrayOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial" />
  <xs:complexType name="Material">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      <xs:element minOccurs="0" name="TipoMaterial" nillable="true" type="tns:TipoMaterial" />
      <xs:element minOccurs="0" name="TipoMaterialId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
  <xs:complexType name="ArrayOfEmprestimo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Emprestimo" nillable="true" type="tns:Emprestimo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmprestimo" nillable="true" type="tns:ArrayOfEmprestimo" />
  <xs:complexType name="Emprestimo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="DataDevolucao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataDevolver" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Devolvido" type="xs:boolean" />
      <xs:element minOccurs="0" name="EmprestimoId" type="xs:int" />
      <xs:element minOccurs="0" name="Material" nillable="true" type="tns:Material" />
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Emprestimo" nillable="true" type="tns:Emprestimo" />
</xs:schema>