ProjetoTesteDDD.MVC/Connected Services/WCFService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" />
  <xs:element name="GetClienteAllWithFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteAllWithFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetClienteAllWithFiltersResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoMaterialAllWithFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoMaterialAllWithFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetTipoMaterialAllWithFiltersResult" nillable="true" type="q2:ArrayOfTipoMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialAllWithFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialAllWithFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetMaterialAllWithFiltersResult" nillable="true" type="q3:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetClienteAllResult" nillable="true" type="q4:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoMaterialAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoMaterialAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetTipoMaterialAllResult" nillable="true" type="q5:ArrayOfTipoMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetMaterialAllResult" nillable="true" type="q6:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmprestimolAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmprestimolAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetEmprestimolAllResult" nillable="true" type="q7:ArrayOfEmprestimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetClienteByIdResult" nillable="true" type="q8:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoMaterialById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoMaterialByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetTipoMaterialByIdResult" nillable="true" type="q9:TipoMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetMaterialByIdResult" nillable="true" type="q10:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmprestimoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmprestimoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="GetEmprestimoByIdResult" nillable="true" type="q11:Emprestimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="cliente" nillable="true" type="q12:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTipoMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="tipoMaterial" nillable="true" type="q13:TipoMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTipoMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="material" nillable="true" type="q14:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmprestimo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="emprestimo" nillable="true" type="q15:Emprestimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmprestimoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="cliente" nillable="true" type="q16:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTipoMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="tipoMaterial" nillable="true" type="q17:TipoMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTipoMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="material" nillable="true" type="q18:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmprestimo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="emprestimo" nillable="true" type="q19:Emprestimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmprestimoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverEmprestimo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" minOccurs="0" name="emprestimo" nillable="true" type="q20:Emprestimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverEmprestimoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>