ProjetoTesteDDD.MVC/Connected Services/WCFService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ProjetoTesteDDD.Domain.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetClienteAllWithFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteAllWithFilters" />
  </wsdl:message>
  <wsdl:message name="IService_GetClienteAllWithFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteAllWithFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTipoMaterialAllWithFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoMaterialAllWithFilters" />
  </wsdl:message>
  <wsdl:message name="IService_GetTipoMaterialAllWithFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoMaterialAllWithFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMaterialAllWithFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialAllWithFilters" />
  </wsdl:message>
  <wsdl:message name="IService_GetMaterialAllWithFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialAllWithFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClienteAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteAll" />
  </wsdl:message>
  <wsdl:message name="IService_GetClienteAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTipoMaterialAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoMaterialAll" />
  </wsdl:message>
  <wsdl:message name="IService_GetTipoMaterialAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoMaterialAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMaterialAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialAll" />
  </wsdl:message>
  <wsdl:message name="IService_GetMaterialAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEmprestimolAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmprestimolAll" />
  </wsdl:message>
  <wsdl:message name="IService_GetEmprestimolAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmprestimolAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClienteById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteById" />
  </wsdl:message>
  <wsdl:message name="IService_GetClienteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTipoMaterialById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoMaterialById" />
  </wsdl:message>
  <wsdl:message name="IService_GetTipoMaterialById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoMaterialByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMaterialById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialById" />
  </wsdl:message>
  <wsdl:message name="IService_GetMaterialById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEmprestimoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmprestimoById" />
  </wsdl:message>
  <wsdl:message name="IService_GetEmprestimoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmprestimoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCliente" />
  </wsdl:message>
  <wsdl:message name="IService_AddCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddTipoMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoMaterial" />
  </wsdl:message>
  <wsdl:message name="IService_AddTipoMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTipoMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterial" />
  </wsdl:message>
  <wsdl:message name="IService_AddMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddEmprestimo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmprestimo" />
  </wsdl:message>
  <wsdl:message name="IService_AddEmprestimo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmprestimoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCliente" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateTipoMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTipoMaterial" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateTipoMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTipoMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterial" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateEmprestimo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmprestimo" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateEmprestimo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmprestimoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DevolverEmprestimo_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverEmprestimo" />
  </wsdl:message>
  <wsdl:message name="IService_DevolverEmprestimo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverEmprestimoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetClienteAllWithFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClienteAllWithFilters" message="tns:IService_GetClienteAllWithFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClienteAllWithFiltersResponse" message="tns:IService_GetClienteAllWithFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTipoMaterialAllWithFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTipoMaterialAllWithFilters" message="tns:IService_GetTipoMaterialAllWithFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTipoMaterialAllWithFiltersResponse" message="tns:IService_GetTipoMaterialAllWithFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialAllWithFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMaterialAllWithFilters" message="tns:IService_GetMaterialAllWithFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMaterialAllWithFiltersResponse" message="tns:IService_GetMaterialAllWithFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClienteAll" message="tns:IService_GetClienteAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClienteAllResponse" message="tns:IService_GetClienteAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTipoMaterialAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTipoMaterialAll" message="tns:IService_GetTipoMaterialAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTipoMaterialAllResponse" message="tns:IService_GetTipoMaterialAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMaterialAll" message="tns:IService_GetMaterialAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMaterialAllResponse" message="tns:IService_GetMaterialAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmprestimolAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEmprestimolAll" message="tns:IService_GetEmprestimolAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEmprestimolAllResponse" message="tns:IService_GetEmprestimolAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClienteById" message="tns:IService_GetClienteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClienteByIdResponse" message="tns:IService_GetClienteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTipoMaterialById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTipoMaterialById" message="tns:IService_GetTipoMaterialById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTipoMaterialByIdResponse" message="tns:IService_GetTipoMaterialById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMaterialById" message="tns:IService_GetMaterialById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMaterialByIdResponse" message="tns:IService_GetMaterialById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmprestimoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetEmprestimoById" message="tns:IService_GetEmprestimoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetEmprestimoByIdResponse" message="tns:IService_GetEmprestimoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddCliente" message="tns:IService_AddCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddClienteResponse" message="tns:IService_AddCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTipoMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddTipoMaterial" message="tns:IService_AddTipoMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddTipoMaterialResponse" message="tns:IService_AddTipoMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddMaterial" message="tns:IService_AddMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddMaterialResponse" message="tns:IService_AddMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmprestimo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddEmprestimo" message="tns:IService_AddEmprestimo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddEmprestimoResponse" message="tns:IService_AddEmprestimo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateCliente" message="tns:IService_UpdateCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateClienteResponse" message="tns:IService_UpdateCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTipoMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateTipoMaterial" message="tns:IService_UpdateTipoMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateTipoMaterialResponse" message="tns:IService_UpdateTipoMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateMaterial" message="tns:IService_UpdateMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateMaterialResponse" message="tns:IService_UpdateMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmprestimo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateEmprestimo" message="tns:IService_UpdateEmprestimo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateEmprestimoResponse" message="tns:IService_UpdateEmprestimo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverEmprestimo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DevolverEmprestimo" message="tns:IService_DevolverEmprestimo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DevolverEmprestimoResponse" message="tns:IService_DevolverEmprestimo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClienteAllWithFilters">
      <soap:operation soapAction="http://tempuri.org/IService/GetClienteAllWithFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoMaterialAllWithFilters">
      <soap:operation soapAction="http://tempuri.org/IService/GetTipoMaterialAllWithFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialAllWithFilters">
      <soap:operation soapAction="http://tempuri.org/IService/GetMaterialAllWithFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteAll">
      <soap:operation soapAction="http://tempuri.org/IService/GetClienteAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoMaterialAll">
      <soap:operation soapAction="http://tempuri.org/IService/GetTipoMaterialAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialAll">
      <soap:operation soapAction="http://tempuri.org/IService/GetMaterialAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmprestimolAll">
      <soap:operation soapAction="http://tempuri.org/IService/GetEmprestimolAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteById">
      <soap:operation soapAction="http://tempuri.org/IService/GetClienteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoMaterialById">
      <soap:operation soapAction="http://tempuri.org/IService/GetTipoMaterialById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialById">
      <soap:operation soapAction="http://tempuri.org/IService/GetMaterialById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmprestimoById">
      <soap:operation soapAction="http://tempuri.org/IService/GetEmprestimoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCliente">
      <soap:operation soapAction="http://tempuri.org/IService/AddCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTipoMaterial">
      <soap:operation soapAction="http://tempuri.org/IService/AddTipoMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMaterial">
      <soap:operation soapAction="http://tempuri.org/IService/AddMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmprestimo">
      <soap:operation soapAction="http://tempuri.org/IService/AddEmprestimo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTipoMaterial">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateTipoMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterial">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmprestimo">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateEmprestimo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverEmprestimo">
      <soap:operation soapAction="http://tempuri.org/IService/DevolverEmprestimo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ProjetoTesteDDD.WCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>